* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  min-width: 360px;
}

hr {
  width: 2px aliceblue;
  border-style: solid;
  border-radius: 50%;
}
/* ======== TYPOGRAPHY ======== */
.title {
  font-size: 2rem;
}

/* ======== LAYOUT ========*/

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(34, 193, 195);
  background: -moz-linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.app-wrap {
  /* height: 80vh; */
  border: aliceblue 5px solid;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.ctnr {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: aliceblue 2px solid; */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.9em 0.9em;
}

header input {
  width: 100%;
  max-width: 300px;
  padding: 0.9em 1em;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  color: #313131;
  font-size: 0.5em;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

/* CONTAINER CURRENT */

.ctnr_current {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: row;
}

.location,
.weather-icon,
.current {
  padding: 1em;
}

.location .city {
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: rgba(255, 255, 255, 0.4);
  /* font-style: italic; */
}

.time,
.weather {
  font-style: italic;
  font-weight: 900;
}

.temp {
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 2px 5px rgba(250, 4, 4, 0.5);
}

/* CONTAINER WEEK */

.ctnr_week {
  width: 100%;
  display: flex;
  /* border-top: aliceblue 2px solid; */
  justify-content: center;
}

ul {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  text-align: center;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  padding: 0.3em;
}

.temp-col1,
.temp-col2,
.temp-col3,
.temp-col4,
.temp-value {
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.5);
}

/* FOOTER */

footer {
  text-align: center;
}
